[submodule "icons/bs/data"]
	path = icons/bs/data
	url = https://github.com/twbs/icons
	branch = main
[submodule "icons/sti/data"]
	path = icons/sti/data
	url = https://github.com/edent/SuperTinyIcons
	branch = master
[submodule "icons/di/data"]
	path = icons/di/data
	url = https://github.com/vorillaz/devicons
	branch = master
[submodule "icons/bi/data"]
	path = icons/bi/data
	url = https://github.com/atisawd/boxicons
	branch = master
[submodule "icons/go/data"]
	path = icons/go/data
	url = https://github.com/primer/octicons
	branch = main
[submodule "icons/vsc/data"]
	path = icons/vsc/data
	url = https://github.com/microsoft/vscode-codicons
	branch = main
[submodule "icons/gi/data"]
	path = icons/gi/data
	url = https://github.com/game-icons/icons.git
	branch = master
