[submodule "icons/bs/data"]
	path = icons/bs/data
	url = https://github.com/twbs/icons
	branch = main
[submodule "icons/sti/data"]
	path = icons/sti/data
	url = https://github.com/edent/SuperTinyIcons
	branch = master
[submodule "icons/di/data"]
	path = icons/di/data
	url = https://github.com/vorillaz/devicons
	branch = master
[submodule "icons/bi/data"]
	path = icons/bi/data
	url = https://github.com/atisawd/boxicons
	branch = master
[submodule "icons/go/data"]
	path = icons/go/data
	url = https://github.com/primer/octicons
	branch = main
[submodule "icons/vsc/data"]
	path = icons/vsc/data
	url = https://github.com/microsoft/vscode-codicons
	branch = main
[submodule "icons/gi/data"]
	path = icons/gi/data
	url = https://github.com/game-icons/icons.git
	branch = master
[submodule "icons/scwi/data"]
	path = icons/scwi/data
	url = https://github.com/adobe/spectrum-css-workflow-icons.git
	branch = main
[submodule "icons/tb/data"]
	path = icons/tb/data
	url = https://github.com/tabler/tabler-icons.git
	branch = master
[submodule "icons/md/data"]
	path = icons/md/data
	url = https://github.com/marella/material-design-icons.git
	branch = main
[submodule "icons/uiw/data"]
	path = icons/uiw/data
	url = https://github.com/uiwjs/icons.git
	branch = master
[submodule "icons/si/data"]
	path = icons/si/data
	url = https://github.com/simple-icons/simple-icons.git
	branch = master
[submodule "icons/pk/data"]
	path = icons/pk/data
	url = https://github.com/bytedance/IconPark.git
	branch = master
[submodule "icons/fg/data"]
	path = icons/fg/data
	url = https://github.com/lipis/flag-icons.git
	branch = main
[submodule "icons/fi/data"]
	path = icons/fi/data
	url = https://github.com/feathericons/feather.git
	branch = master
[submodule "icons/fc/data"]
	path = icons/fc/data
	url = https://github.com/icons8/flat-color-icons.git
	branch = master
[submodule "icons/hi/data"]
	path = icons/hi/data
	url = https://github.com/tailwindlabs/heroicons.git
	branch = master
[submodule "icons/ri/data"]
	path = icons/ri/data
	url = https://github.com/Remix-Design/RemixIcon.git
	branch = master
[submodule "icons/ei/data"]
	path = icons/ei/data
	url = https://github.com/evil-icons/evil-icons.git
	branch = master
[submodule "icons/fa/data"]
	path = icons/fa/data
	url = https://github.com/FortAwesome/Font-Awesome.git
	branch = 6.x
[submodule "icons/ti/data"]
	path = icons/ti/data
	url = https://github.com/stephenhutchings/typicons.font.git
	branch = master
[submodule "icons/ccp/data"]
	path = icons/ccp/data
	url = https://github.com/aaronfagan/svg-credit-card-payment-icons.git
	branch = main
[submodule "icons/ii/data"]
	path = icons/ii/data
	url = https://github.com/iconic/open-iconic.git
	branch = master
[submodule "icons/cg/data"]
	path = icons/cg/data
	url = https://github.com/astrit/css.gg.git
	branch = master
[submodule "icons/gr/data"]
	path = icons/gr/data
	url = https://github.com/grommet/grommet-icons.git
	branch = master
